.wrapper{
   
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.container{
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 46px;
    padding-bottom: 15px;
    
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.logo_name-first{
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    margin-left: 10px;
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    padding-top: 2px;
}
.logo_name-second{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: block;
    font-family: 'Roboto';
    font-style: normal;
}

.logo-white:hover{
    display: none;
}
.logo-orange{
    display: none;
}
.logo-white{
    display: flex;
}
.logo-white:hover + .logo-orange{
    display: flex;
    color:#F26522;
}
.logo_link {
    text-decoration: none;
    color: #FFFFFF;
}
.email, .phone {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: end;
}
.email{
    margin-bottom: 19px; 
}
.email:hover, .phone:hover {
    color: #F26522;
}






.tours {
    margin-top: 17px;
    margin-bottom: 49px;
} 
.tours-list{
    padding-left: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 220px);
    justify-content: space-between;
    row-gap: 78px;
    text-align: center;
    
}
.tours-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
   
}
.tours-item{
    position: relative;
}


.tours-img {
    margin-bottom: 20px;
}
.tour-from{
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    text-align: start;
    padding-left: 16px;
    
}

.tours-cost{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 8px;
    align-items: center;
    background-color: #F26522;
    width: 297px;
    height: 55px;
    position: absolute;
    left: 2px;
    top: 165px;
    display: none;
    padding-bottom: 12px;
    padding-top: 7px;
}
.tour-cost {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: start;
    padding-left: 16px;
}
.tour-details{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    display: inline-block;
    text-align: end;
    padding-right: 14px;
    
    
}
.tour-cost {
    grid-column: 1/ span 1;
}
.tour-details::after{
    content: url(../img/arrow.png);
    margin-left: 16px;
    vertical-align: middle;
   

}
.tours-link:hover .tours-cost{
    display: grid;
}
.tours-link:hover {
    color: #F26522;
}

.copyright{
    padding-top: 49px;
}
.copyright-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
}




